<!doctype html>
<html lang="es">

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
<title>Inmobiliario Tools</title>
{% endblock %}

{% block body %}
<main class="container">
  <h1>Inmobiliario Tools</h1>
  <h6>Calcula la rentabilidad de una vivienda en el buscador o consulta las últimas novedades.</h6>
  <br>
  <h3>Calculadora de rentabilidad</h3>
  <form action="{{url_for('calculadora')}}" method="POST" onsubmit="setAriaBusy()">
    <fieldset role="group">
      <input type="url" name="url" pattern="^https:\/\/www\.idealista\.com\/inmueble\/\d{9}\/.*$" placeholder="Introduce una URL válida ej.: https://www.idealista.com/inmueble/123456789/" />
      <input type="submit" value="Calcular">
    </fieldset>
  </form>
  <h3>Novedades</h3>
  <p>Los inmuebles se actualizan diariamente con los siguientes filtros:</p>
  <li>Mataró, Premiá de Mar, Granollers, Argentona, Sant Pol de Mar, Canet de Mar, Caldes d'Estrac, Arenys de Mar.</li>
  <li>Max. 120,000, 2 o más habitaciones, planta 1 o más (sin bajos).</li>
  <br>
  <table>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Actualizado</th>
        <th scope="col">Precio</th>
        <th scope="col">Metros</th>
        <th scope="col"><em data-tooltip="La rentabilidad bruta se obtiene de dividir un año de alquiler entre el total de la compra y sus gastos">R. Bruta</em></th>
        <th scope="col">Estado</th>
        <th scope="col">Población</th>
        <th scope="col">Calculadora</th>
      </tr>
    </thead>
    <tbody>
      {% for propiedad in propiedades %}
      <tr>
        <th scope="row"><a href="{{ propiedad[5] }}" target="_blank">{{ propiedad[0] }}</th>
        <td>{{ propiedad[1] }}</td>
        <td>{{ "{:,.0f}".format(propiedad[2]) }} €</td>
        <td>{{ propiedad[3] }} m²</td>
        <td>{{ (calculadora(propiedad[0], propiedad[2], propiedad[3], propiedad[4])[-5] *100) | round(1) }}%</td>
        <td>{{ propiedad[7] }}</td>
        <td>{{ propiedad[4] }}</td>
        <td><a href= "{{ url_for('calculadora', p_id=propiedad[6]) }}">Calculadora</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Paginación -->
  <footer>
      {% if page > 1 %}
      <a href="{{ url_for('home_page', page=page-1) }}">&laquo; Anterior</a>
      {% endif %}

      {% for i in range(1, total_pages + 1) %}
      <a href="{{ url_for('home_page', page=i) }}">{{ i }}</a>
      {% endfor %}

      {% if page < total_pages %}
      <a href="{{ url_for('home_page', page=page+1) }}">&raquo;</a>
      {% endif %}
  </footer>
</main>
{% endblock %}
<script>
  document.getElementById('url-form').addEventListener('submit', function(event) {
    const urlInput = document.getElementById('idealista-url');
    const errorMessage = document.getElementById('error-message');
    const url = urlInput.value;

    // Expresión regular para validar el dominio
    const pattern = /^https:\/\/www\.idealista\.com\/inmueble\/\d{9}\/.*$/;

    if (!pattern.test(url)) {
      event.preventDefault(); // Previene el envío del formulario
      errorMessage.style.display = 'inline'; // Muestra el mensaje de error
    } else {
      errorMessage.style.display = 'none'; // Oculta el mensaje de error
    }
  });
</script>
</html>