<!doctype html>
<html lang="es">

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
<title>Calculadora de rentabilidad</title>
{% endblock %}

{% block body %}
<main class="container">
    <h4>Calculadora de rentabilidad</h4>
    <div class="grid">
      <div>
        <hgroup>
          <h4>La vivienda</h4>
          <h6>Nombre</h6><span>{{datos[0]}}</span>
          <h6>URL</h6><p>{{url}}</p>
          <h6>Precio</h6><span>{{datos[1]}}</span>
          <h6>Metros</h6><span>{{datos[2]}}</span><span> m²</span>
        </hgroup>
        <hgroup>
          <h4>Coste de compra</h4>
          <form oninput="calculo_itp.value = parseInt(parseInt(p_compra.value)*parseFloat(0.1))">
            <hgroup>
              <h6 for="p_compra">Precio de compra</h6>
              <input type="number" id="p_compra" name="p_compra" placeholder="Introduce el precio de compra" value="{{datos[1]}}">
              <h6>ITP</h6><output name="calculo_itp"></output>
              <h6>Reforma</h6><span>Placeholder</span>
              <h6>Notaria</h6><span>Placeholder</span>
              <h6>Registro</h6><span>Placeholder</span>
              <h6>Comisión agencia</h6><span>Placeholder</span>
              <h6>Tasación</h6><span>Placeholder</span>
          </hgroup>
          </form>
        </hgroup>
      </div>
      <div>
        <hgroup>
          <h4>Gastos anuales</h4>
          <h6>IBI</h6><span>Placeholder</span>
          <h6>Basuras</h6><span>Placeholder</span>
          <h6>Comunidad</h6><span>Placeholder</span>
          <h6>Seguros</h6><span>Placeholder</span>
        </hgroup>
        <hgroup>
          <h4>Ingresos anuales</h4><span>Placeholder</span>
          <h6>Cuota alquiler</h6><span>Placeholder</span>
        </hgroup>
        <hgroup>
          <h4>Hipoteca</h4>
          <h6>% Financiado</h6><span>Placeholder</span>
          <h6>Capital a aportar</h6><span>Placeholder</span>
          <h6>Plazo (años)</h6><span>Placeholder</span>
          <h6>Tiipo de interés</h6><span>Placeholder</span>
          <h6>Cuota a pagar</h6><span>Placeholder</span>
          <h6>Intereses (promedio)</h6><span>Placeholder</span>
          <h6>Amortización (promedio)</h6><span>Placeholder</span>
        </hgroup>
      </div>
      <div>
        <hgroup>
          <h4>Rentabilidad</h4>
          <output name="r_bruta"></output>
          <output name="r_bruta"></output>
          <output name="c_flow"></output>
          <output name="c_oncash"></output>
          <output name="roce"></output>
        </hgroup>
      </div>
    </div>
</main>
{% endblock %}

</html>