<!doctype html>
<html lang="es">

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
<title>Calculadora de rentabilidad</title>
{% endblock %}

{% block body %}
<main class="container">
    <h1>Calculadora de rentabilidad</h1>
    <form action="{{url_for('calculadora')}}" method="POST">
        <fieldset role="group">
          <input type="url" name="url" placeholder="Introduce una URL válida" />
          <input type="submit" value="Calcular" />
        </fieldset>
      </form>
</main>
{% endblock %}

</html>